// bower:scss
// endbower

@import "bower_components/bootstrap/scss/bootstrap.scss";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=cyrillic');
@mixin heading-font($font-size:4rem) {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: $font-size;
}

$red: #ee4036;
$grey-dark: #383838;
$grey-light: #58595b;

.container-fluid {
  position: relative;
  // border-bottom: 1px solid $grey-dark;
  box-shadow: 0px 15px 60px 5px rgba(0,0,0,.2);
  .row {
    min-height: 550px;
    padding: 5%;
    .col {
      p {
        color: $grey-dark;
      }
    }
    .col-4, .col-6 {
      padding: 0 5%;
    }
  }
}

.slide-background {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("/images/bg_1.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px -140px 70px -17px rgba(0, 0, 0, 0.6) inset;
}

@include media-breakpoint-up(sm) {
  .container-fluid {
    .row {
      min-height: 750px;
    }
    .slide-background {
      height: 70%;
    }
  }
}
@include media-breakpoint-up(md) {
  .container-fluid {
    .row {
      min-height: 800px;
    }
    .slide-background {
      height: 73%;
    }
  }
}
@include media-breakpoint-up(lg) {
  .container-fluid {
    .row {
      min-height: 900px;
    }
    .slide-background {
      height: 76%;
    }
  }
}

.content {
  position: absolute;
  left: 15px;
  width: 90%;
  border-left: 8px solid $red;
  padding-left: 3%;
  z-index: 5;
  h2 {
    @include heading-font(1.7rem);
    @include media-breakpoint-up(sm) {
      font-size: 2.2rem;
    }
    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 4rem;
    }
  }
}

.slide {
  .content {
    bottom: 0;
    h2 {
      color: #fff;
      margin-bottom: 1em;
    }
    p {
      font-size: 1rem;
      font-weight: 300;
      @include media-breakpoint-up(sm) {
        font-size: 1.2rem;
      }
      @include media-breakpoint-up(md) {
        font-size: 1.3rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 1.3rem;
      }
    }
  }
}
.info, .contacts {
  .content {
    position: static;
    margin-bottom: 2%;
    h2 {
      color: $grey-dark;
      margin-bottom: 0;
      em {
        color: $red;
        font-style: normal;
      }
    }
  }
}

// Intro Page
.intro-page {
  background-image: url("/images/bg_1.jpg");
  background-position: center;
  background-size: cover;
  h1 {
    text-align: center;
    color: #fff;
    @include heading-font(3rem);
    @include media-breakpoint-up(sm) {
      font-size: 2.2rem;
    }
    @include media-breakpoint-up(md) {
      font-size: 4rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 6rem;
    }
  }
  img {
    display: block;
    width: 70%;
    margin: 0 auto;
    @include media-breakpoint-up(sm) {
      width: 70%;
    }
    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
}

// Age page
.age-page {
  .slide-background {
    background-image: url("/images/bg_2.jpg");
  }
}

// Time page
.time-page {
  .slide-background {
    background-image: url("/images/bg_3.jpg");
  }
}

// Brands page
.brands-page {
  .slide-background {
    background-image: url("/images/bg_4.jpg");
    background-position: center bottom;
  }
}

// Numbers page
.numbers-page {
  background-image: url("/images/numbers-bg.svg");
  background-size: cover;
  background-position: bottom center;
  .number {
    @include heading-font();
    color: $red;
    line-height: 1.1;
  }
  .description {
    color: $grey-light;
    line-height: 1.1;
  }
  .big-number {
    .number {
      font-size: 10rem;
    }
    .description {
      font-size: 2.4rem;
    }
  }
  .numbers {
    .number {
      font-size: 3rem;
      padding-top: 1.8rem;
    }
    .description {
      font-size: 1.3rem;
    }
  }
}

// Venues page
.venues-page {
  .slide-background {
    background-image: url("/images/bg_5.jpg");
  }
}

// Artists page
.artists-page {
  .slide-background {
    background-image: url("/images/bg_6.jpg");
  }
}

// Options page
.option {
  img {
    display: block;
    margin: 0 auto 1rem auto;
    width: 140px;
    height: 140px;
    @include media-breakpoint-up(md) {
      width: 180px;
      height: 180px;
    }
  }
  h3 {
    @include heading-font();
    font-size: 2.2rem;
    color: $red;
    text-align: center;
  }
}

// Contacts page
.contacts-page {
  h3 {
    @include heading-font(2.5rem);
  }
  p {
    font-size: 1.3rem;
    i {
      color: $red;
      margin-right: 3px;
    }
    a {
      color: $grey-dark;
      &:hover {
        color: $grey-light;
        text-decoration: none;
      }
    }
  }
  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 7px solid $red;
    margin-bottom: 2rem;
    background-size: cover;
    &.bogdanovich {
      background-image: url("/images/mbogdanovich.jpg");
    }
    &.atsoy {
      background-image: url("/images/atsoy.jpg");
    }
  }
}
